* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.items{
	padding: 40px;
	margin:10px;
	width: 300px;
	height: auto;
	background-color: wheat;
	border-radius: 10px;
	
}